SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk
phonemizer
matplotlib
scipy
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
rich
prompt_toolkit
pyaudio
wave
git+https://github.com/resemble-ai/monotonic_align.git